{% extends 'Quiz/dependencies.html' %}
{% load static%}
{% block content %}
<style>
    #former2{
        color: black;
    }
</style>
<h2 id = "h">Login Page</h2>
<div class="container jumbotron">
    <form method="POST" action="">
        {% csrf_token %}
        <p><input type="text" name="username" placeholder="Username..."></p>
        <p><input type="password" name="password" placeholder="Password..." ></p>
        <input class="btn btn-success" type="submit" value="Login">
        <p id="former2">Do not have an account <a href='{% url 'register' %}'>Register</a></p>
    </form>
</div>
{% endblock %}
